<style type="text/css">
  a.no-decoration:focus, a.no-decoration:hover {
    text-decoration: none;
  }
  header.row .pagination {
    margin: 25px 0 0 0 !important;
  }
  form .btn {
    margin-right: 0;
  }
  hr {
    margin: 5px 0;
  }
  .nowrap {
    white-space: nowrap;
  }
  .break-all {
    word-break: break-all;
  }
  .label-none {
    background: #eee;
    color: #888;
  }
  .label-light {
    background: #ddd;
    color: #333;
  }
</style>
<%
  def nice_number(value)
    value.to_s.reverse.gsub(/(\d{3})(?=\d)/, '\\1,').reverse
  end

  def short_number(value)
    return value unless value.to_i >= 1000

    return "#{(value.to_f / 1_000_000_000.00).round(1)}B" if value >= 1_000_000_000
    return "#{(value.to_f / 1_000_000.00).round(1)}M" if value >= 1_000_000

    "#{(value.to_f / 1_000.00).round(1)}K" if value >= 1_000
  end

  def stats_label(value, style)
    if "#{value}" == "0"
      return "<span class='label label-none'>#{value}</span>"
    else
      return "<span class='label label-#{style}'>#{value}</span>"
    end
  end

  def zero_to_empty(value)
    return '' if value.to_i == 0

    value.to_i
  end

  def progress_label(progress, value = nil)
    return '' if value && value.to_i == 0

    case progress
    when 'skipped'
      'text-warning'
    when 'failed'
      'text-danger'
    end
  end

  def percentage_label(value)
    return 'text-success' if value >= 100
    return 'text-info' if value >= 90
    return 'text-warning' if value >= 80

    'text-danger'
  end

  stages = ['processed', 'skipped', 'failed', 'attempted', 'processing']
%>
<div class='row header'>
  <div class='col-sm-5 col-xs-12'>
    <h3><a class="no-decoration" href="<%= root_path %>job_stats">Job Stats</a> / <span class="title"><%= @total_size %> jobs</span>
  </div>
  <div class='col-sm-7 col-xs-12'>
    <% if @job_stats.size > 0 && @total_size > @count %>
      <%= erb :_paging, :locals => { :url => "#{root_path}job_stats/#{@job_prefix}/#{@queue_name}" } %>
    <% end %>
  </div>
</div>
<% if @job_stats.size > 0 %>
  <div class='table_container'>
    <table class='table table-hover table-bordered table-striped table-white'>
      <thead>
        <tr>
          <th colspan='2' class="nowrap">
            <% if @job_prefix != '*' || @queue_name != '*' %>
              Filter Job
              <% if @job_prefix != '*' %>
                by <code><%= @job_prefix %></code>
              <% end %>
              <% if @queue_name != '*' %>
                in <code><%= @queue_name %></code>
              <% end %>
            <% else %>
              <a class="no-decoration" href="<%= root_path %>job_stats/processing/*/*/*">All Processing Flags </a>
            <% end %>
          </th>
          <th colspan='3' class="text-center" style="vertical-align:top;">Stage</th>
          <th colspan='2' class="text-center">Processed</th>
          <th colspan='2' class="text-center">Skipped</th>
          <th colspan='2' class="text-center">Failed</th>
          <th colspan='2' class="text-center">Attempted</th>
          <th colspan='2' class="text-center">Processing</th>
        </tr>
        <tr>
          <th><small>Job</small></th>
          <th><small>Queue</small></th>
          <th class="text-center text-warning"><small>Unique</small></th>
          <th colspan='2' class="text-center text-success nowrap"><small>Processed %</small></th>
          <th class="text-center"><small>Today</small></th>
         	<th class="text-center"><small class="nowrap">All Time</small></th>
          <th class="text-center"><small>Today</small></th>
         	<th class="text-center"><small class="nowrap">All Time</small></th>
          <th class="text-center"><small>Today</small></th>
         	<th class="text-center"><small class="nowrap">All Time</small></th>
          <th class="text-center"><small>Today</small></th>
         	<th class="text-center"><small class="nowrap">All Time</small></th>
          <th class="text-center"><small>Today</small></th>
         	<th class="text-center"><small class="nowrap">All Time</small></th>
        </tr>
      </thead>
      <tbody>
        <% @job_stats.each do |job_name|
          today_stats = @job_stats_today[job_name] || {}
          total_stats = @job_stats_all_time[job_name] || {}

          today_enqueue = today_stats.values[0]['enqueue'] rescue {}
          today_perform = today_stats.values[0]['perform'] rescue {}

          total_enqueue = total_stats.values[0]['enqueue'] rescue {}
          total_perform = total_stats.values[0]['perform'] rescue {}

          te_processed = today_enqueue['processed'].to_f rescue 0
          te_attempted = today_enqueue['attempted'].to_f rescue 0
          tep_percentage = (te_processed / te_attempted * 100).to_s.to_i rescue 0

          tp_processed = today_perform['processed'].to_f rescue 0
          tp_attempted = today_perform['attempted'].to_f rescue 0
          tpp_percentage = (tp_processed / tp_attempted * 100).to_s.to_i rescue 0

          queue_name = total_stats.keys[0] rescue ''

          enqueue_uniqueness_flag = @uniqueness_flag_keys[job_name][queue_name]['enqueue'].to_i rescue 0
          perform_uniqueness_flag = @uniqueness_flag_keys[job_name][queue_name]['perform'].to_i rescue 0

          uniqueness_flag = (enqueue_uniqueness_flag.positive? || perform_uniqueness_flag.positive?)
          processing_flag = @processing_flag_keys.key?(job_name)

          additional_queues = (total_stats.keys[1..-1] + today_stats.keys[1..-1]).uniq rescue []

          job_name_group = job_name.split('::')
        %>
          <tr>
            <td class="nowrap">
              <% if job_name_group.size >= 2 %>
                <a class="no-decoration" href="<%= root_path %>job_stats/<%= job_name_group[0] %>/<%= @queue_name %>"><%= job_name_group[0] %></a>::<%= job_name_group[1..-1].join('::') %>
              <% else %>
                <%= job_name %>
              <% end %>
            </td>
            <td>
              <a class="no-decoration" href="<%= root_path %>job_stats/<%= @job_prefix %>/<%= queue_name %>">
                <%= queue_name %>
              </a>
            </td>
            <td class="text-center">
              <% if enqueue_uniqueness_flag.positive? %>
                <a class="no-decoration break-all" href="<%= root_path %>job_stats/uniqueness/<%= job_name %>/<%= queue_name%>/enqueue">
                  <%= stats_label(zero_to_empty(enqueue_uniqueness_flag), 'warning') %>
                </a>
              <% end %>
            </td>
            <td class="text-center">
              <%= stats_label('E', 'info') %>
            </td>
            <td class="<%= percentage_label(tep_percentage) %> text-center">
              <b><small><%= tep_percentage %>%</small></b>
            </td>
            <%
              stages.each do |s|
                today_n = today_enqueue[s].to_i
                total_n = total_enqueue[s].to_i
            %>
              <td class="<%= progress_label(s, today_n) %> text-center" title="<%= nice_number(today_n) %>"><small><%= short_number(today_n) %></small></td>
              <td class="text-center <%= progress_label(s) %>" title="<%= nice_number(total_n) %>"><b><small><%= short_number(total_n) %></small></b></td>
            <% end %>
          </tr>
          <tr>
            <td rowspan="<%= additional_queues.size * 2 + 1 %>">
              <small>
              <% if processing_flag %>
                <a class="no-decoration" href="<%= root_path %>job_stats/processing/<%= job_name %>/*/*">
                  Processing flags
                </a>
              <% end %>
              <% if @job_log_keys[job_name] %>
                <%= "/" if processing_flag %>
                <a class="no-decoration nowrap" href="<%= root_path %>job_stats/logs/<%= @today %>/<%= job_name %>/*/*">
                  All logs
                </a>
              <% end %>
              </small>
            </td>
            <td>
              <small>
              <% if @job_log_keys[job_name] && @job_log_keys[job_name][queue_name] %>
                <a class="no-decoration nowrap" href="<%= root_path %>job_stats/logs/<%= @today %>/<%= job_name %>/<%= queue_name %>/*">
                  logs
                </a>
              <% end %>
              </small>
            </td>
            <td class="text-center">
              <% if perform_uniqueness_flag.positive? %>
                <a class="no-decoration break-all" href="<%= root_path %>job_stats/uniqueness/<%= job_name %>/<%= queue_name %>/perform">
                  <%= stats_label(zero_to_empty(perform_uniqueness_flag), 'warning') %>
                </a>
              <% end %>
            </td>
            <td class="text-center">
              <%= stats_label('P', 'primary') %>
            </td>
            <td class="<%= percentage_label(tpp_percentage) %> text-center">
              <b><small><%= tpp_percentage %>%</small></b>
            </td>
            <%
              stages.each do |s|
                today_n = today_perform[s].to_i
                total_n = total_perform[s].to_i
            %>
              <td class="<%= progress_label(s, today_n) %> text-center" title="<%= nice_number(today_n) %>"><small><%= short_number(today_n) %></small></td>
              <td class="text-center <%= progress_label(s) %>" title="<%= nice_number(total_n) %>"><b><small><%= short_number(total_n) %></small></b></td>
            <% end %>
          </tr>

          <% next if additional_queues.size == 0 %>
          <% additional_queues.each do |key|
            today_enqueue = today_stats[key]['enqueue'] rescue {}
            today_perform = today_stats[key]['perform'] rescue {}

            total_enqueue = total_stats[key]['enqueue'] rescue {}
            total_perform = total_stats[key]['perform'] rescue {}

            te_processed = today_enqueue['processed'].to_f rescue 0
            te_attempted = today_enqueue['attempted'].to_f rescue 0
            tep_percentage = (te_processed / te_attempted * 100).to_s.to_i rescue 0

            tp_processed = today_perform['processed'].to_f rescue 0
            tp_attempted = today_perform['attempted'].to_f rescue 0
            tpp_percentage = (tp_processed / tp_attempted * 100).to_s.to_i rescue 0

            queue_name = key

            enqueue_uniqueness_flag = @uniqueness_flag_keys[job_name][queue_name]['enqueue'].to_i rescue 0
            perform_uniqueness_flag = @uniqueness_flag_keys[job_name][queue_name]['perform'].to_i rescue 0

            uniqueness_flag = (enqueue_uniqueness_flag.positive? || perform_uniqueness_flag.positive?)
          %>
            <tr>
              <td>
                <a class="no-decoration" href="<%= root_path %>job_stats/<%= @job_prefix %>/<%= queue_name %>">
                  <%= queue_name %>
                </a>
              </td>
              <td class="text-center">
                <% if enqueue_uniqueness_flag.positive? %>
                  <a class="no-decoration" href="<%= root_path %>job_stats/uniqueness/<%= job_name %>/<%= queue_name %>/enqueue" title="View uniqueness flags">
                    <%= stats_label(zero_to_empty(enqueue_uniqueness_flag), 'warning') %>
                  </a>
                <% end %>
              </td>
              <td class="text-center">
                <%= stats_label('E', 'info') %>
              </td>
              <td class="<%= percentage_label(tep_percentage) %> text-center">
                <b><small><%= tep_percentage %>%</small></b>
              </td>
              <% stages.each do |s|
                  today_n = today_enqueue[s].to_i
                  total_n = total_enqueue[s].to_i
              %>
                <td class="<%= progress_label(s, today_n) %> text-center" title="<%= nice_number(today_n) %>"><small><%= short_number(today_n) %></small></td>
                <td class="text-center <%= progress_label(s) %>" title="<%= nice_number(total_n) %>"><b><small><%= short_number(total_n) %></small></b></td>
              <% end %>
            </tr>
            <tr>
              <td>
                <small>
                  <% if @job_log_keys[job_name] && @job_log_keys[job_name][queue_name] %>
                    <a class="no-decoration nowrap" href="<%= root_path %>job_stats/logs/<%= @today %>/<%= job_name %>/<%= queue_name %>/*">
                      logs
                    </a>
                  <% end %>
                </small>
              </td>
              <td class="text-center">
                <% if perform_uniqueness_flag.positive? %>
                  <a class="no-decoration" href="<%= root_path %>job_stats/uniqueness/<%= job_name %>/<%= queue_name %>/perform" title="View uniqueness flags">
                    <%= stats_label(zero_to_empty(perform_uniqueness_flag), 'warning') %>
                  </a>
                <% end %>
              </td>
              <td class="text-center">
                <%= stats_label('P', 'primary') %>
              </td>
              <td class="<%= percentage_label(tpp_percentage) %> text-center">
                <b><small><%= tpp_percentage %>%</small></b>
              </td>
              <%
                stages.each do |s|
                  today_n = today_perform[s].to_i
                  total_n = total_perform[s].to_i
              %>
                <td class="<%= progress_label(s, today_n) %> text-center" title="<%= nice_number(today_n) %>"><small><%= short_number(today_n) %></small></td>
                <td class="text-center <%= progress_label(s) %>" title="<%= nice_number(total_n) %>"><b><small><%= short_number(total_n) %></small></b></td>
              <% end %>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
  <div style="margin-top:-10px;margin-bottom:15px;"><small><strong>Time Zone:</strong> <%= ActiveJob::Unique::Stats.timezone %></small></div>
<% else %>
  <div class='alert alert-success'>No job stats found</div>
<% end %>

<% if @job_prefix == '*' && @queue_name == '*' %>
  <script>
    function activejobUniqueCleanupJobStats() {
      var url = 'job_stats/cleanup';
      try {
        url = [location.protocol, "", location.href.split('/')[2], url].join('/');
      } catch(ex) {
        url = "/" + url;
      }

      $.ajax({url: url, dataType: 'json'}).done(function(data) { setTimeout(activejobUniqueCleanupJobStats, 30000);});
    }
    activejobUniqueCleanupJobStats();
  </script>
<% end %>
