<%= erb File.read(File.join(@view_dir, '_shared.erb')) %>

<div class='row header'>
  <div class='col-sm-9 col-xs-12'>
    <h3>
      <a class="no-decoration" href="<%= root_path %>job_stats">Job Stats</a>
      /
      <a class="no-decoration" href="<%= "#{root_path}job_stats/logs/#{@day}/#{@job_name}/*/*" %>"><%= @job_name %></a>
      /
      <%= @queue_name%>
    </h3>
  </div>
  <div class='col-sm-2 col-xs-8'>
    <% if @job_logs.size > 0 && @total_size.to_i > @count %>
      <%= erb :_paging, :locals => { :url => "#{root_path}job_stats/logs/#{@day}/#{@job_name}/#{@queue_name}/#{@uniqueness_id}" } %>
    <% end %>
  </div>
  <div class='col-sm-1 col-xs-4 text-right'>
    <form method="POST" action="<%= "#{root_path}job_stats/logs/#{@day}/#{@job_name}/#{@queue_name}/#{@uniqueness_id}/delete" %>">
      <%= csrf_tag %>
      <input class='btn btn-danger' type="submit" name="delete" value="Delete All" data-confirm="Are you sure you want to delete all uniqueness flag for [<%= @job_name %>]?"/>
    </form>
  </div>
</div>
<div class="table_container">
  <table class="table table-hover table-bordered table-striped table-white">
    <tr>
      <% (0..7).each do |i|
          day = (Time.now.in_time_zone(ActiveJob::Unique::Stats.timezone) - i*86400).to_date.strftime('%Y%m%d').to_i
      %>
        <td class="text-center<%= day == @day ? ' alert-success' : ''%>">
          <a class="center-block" href="<%= "#{root_path}job_stats/logs/#{day}/#{@job_name}/#{@queue_name}/#{@uniqueness_id}" %>"><%= day %></a>
        </td>
      <% end %>
    </tr>
  </table>
</div>
<% if @job_logs.size > 0 %>
  <div class="table_container">
    <table class="table table-hover table-bordered table-striped table-white">
      <thead>
        <th>#</th>
        <th>Day</th>
        <th>Job</th>
        <th>Queue</th>
        <th>Uniqueness Id</th>
        <th>Job Id</th>
        <th class="text-center title"><%= @job_logs.size + @offset %></th>
      </thead>
      <tbody>
        <%
          @job_logs.each_with_index do |log, idx|
            queue_name, uniqueness_id, job_id = log.to_s.split(':')
        %>
          <tr>
            <td><%= @offset + idx + 1 %></td>
            <td><%= @day %></td>
            <td><a href="<%= "#{root_path}job_stats/logs/#{@day}/#{@job_name}/*/*"%>"><%= @job_name %></a></td>
            <td><a href="<%= "#{root_path}job_stats/logs/#{@day}/#{@job_name}/#{queue_name}/*"%>"><%= queue_name %></a></td>
            <td><a href="<%= "#{root_path}job_stats/logs/#{@day}/#{@job_name}/#{queue_name}/#{uniqueness_id}"%>"><%= uniqueness_id %></a></td>
            <td><a href="<%= "#{root_path}job_stats/logs/#{@day}/#{@job_name}/#{queue_name}/#{uniqueness_id}/#{job_id}"%>"><%= job_id %></a></td>
            <td class="text-center">
              <form action="<%= "#{root_path}job_stats/logs/#{@day}/#{@job_name}/#{queue_name}/#{uniqueness_id}/#{job_id}/delete"%>" method="post">
                <%= csrf_tag if respond_to?(:csrf_tag) %>
                <input class='btn btn-xs btn-danger' type="submit" name="delete" value="Delete" data-confirm="Are you sure you want to delete the job log: [<%= job_id %>]?"/>
              </form>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div style="margin-top:-10px;margin-bottom:15px;"><small><strong>Time Zone:</strong> <%= ActiveJob::Unique::Stats.timezone %></small></div>
<% else %>
  <div class='alert alert-success'>No job stats found</div>
<% end %>
