<style type="text/css">
  a.no-decoration:focus, a.no-decoration:hover {
    text-decoration: none;
  }
  header.row .pagination {
    margin: 25px 0 0 0 !important;
  }
  form .btn {
    margin-right: 0;
  }
  hr {
    margin: 5px 0;
  }
  .nowrap {
    white-space: nowrap;
  }
  .break-all {
    word-break: break-all;
  }
  .label-none {
    background: #eee;
    color: #888;
  }
  .label-light {
    background: #ddd;
    color: #333;
  }
</style>
<%
  def nice_number(value)
    value.to_s.reverse.gsub(/(\d{3})(?=\d)/, '\\1,').reverse
  end

  def short_number(value)
    return value unless value.to_i >= 1000

    return "#{(value.to_f / 1_000_000_000.00).round(1)}B" if value >= 1_000_000_000
    return "#{(value.to_f / 1_000_000.00).round(1)}M" if value >= 1_000_000

    "#{(value.to_f / 1_000.00).round(1)}K" if value >= 1_000
  end

  def stats_label(value, style)
    if "#{value}" == "0"
      return "<span class='label label-none'>#{value}</span>"
    else
      return "<span class='label label-#{style}'>#{value}</span>"
    end
  end

  def zero_to_empty(value)
    return '' if value.to_i == 0

    value.to_i
  end

  def progress_label(progress, value = nil)
    return '' if value && value.to_i == 0

    case progress
    when 'skipped'
      'warning'
    when 'failed'
      'danger'
    end
  end

  def percentage_label(value)
    return 'success' if value >= 100
    return 'info' if value >= 90
    return 'warning' if value >= 80

    'danger'
  end

  stages = ['attempted', 'processing', 'processed', 'skipped', 'failed']
%>
<header class='row'>
  <div class='col-sm-5 col-xs-12'>
    <h3>Job Stats (<%= @total_size %>)</h3>
  </div>
  <div class='col-sm-7 col-xs-12'>
    <% if @job_stats.size > 0 && @total_size > @count %>
      <%= erb :_paging, :locals => { :url => "#{root_path}job_stats" } %>
    <% end %>
  </div>
</header>
<% if @job_stats.size > 0 %>
  <table class="table table-hover table-bordered table-striped table-white">
    <thead>
      <tr>
        <th rowspan="2" style="vertical-align:top;">Job</th>
        <th rowspan="2" style="vertical-align:top;">Queue</th>
        <th colspan="3" class="text-center" style="vertical-align:top;">Stage</th>
        <th colspan="2" class="text-center">Attempted</th>
        <th colspan="2" class="text-center">Processing</th>
        <th colspan="2" class="text-center">Processed</th>
        <th colspan="2" class="text-center">Skipped</th>
        <th colspan="2" class="text-center">Failed</th>
      </tr>
      <tr>
        <th colspan="2" class="text-center text-success nowrap"><small>Processed %</small></th>
        <th class="text-center text-warning"><small>Unique</small></th>
        <th class="text-center"><small>Today</small></th>
       	<th class="text-center"><small class="nowrap">All Time</small></th>
        <th class="text-center"><small>Today</small></th>
       	<th class="text-center"><small class="nowrap">All Time</small></th>
        <th class="text-center"><small>Today</small></th>
       	<th class="text-center"><small class="nowrap">All Time</small></th>
        <th class="text-center"><small>Today</small></th>
       	<th class="text-center"><small class="nowrap">All Time</small></th>
        <th class="text-center"><small>Today</small></th>
       	<th class="text-center"><small class="nowrap">All Time</small></th>
      </tr>
    </thead>
    <tbody>
      <% @job_stats.each do |job_name|
        today_stats = @job_stats_today[job_name]
        total_stats = @job_stats_all_time[job_name]

        te_processed = today_stats.values[0]['enqueue']['processed'].to_f
        te_attempted = today_stats.values[0]['enqueue']['attempted'].to_f
        tep_percentage = (te_processed / te_attempted * 100).to_s.to_i

        tp_processed = today_stats.values[0]['perform']['processed'].to_f
        tp_attempted = today_stats.values[0]['perform']['attempted'].to_f
        tpp_percentage = (tp_processed / tp_attempted * 100).to_s.to_i

        queue_name = today_stats.keys[0]
      %>
        <tr>
          <td rowspan="<%= total_stats.keys.size * 2 %>">
            <a class="no-decoration" href="<%= root_path %>job_stats/uniqueness/<%= job_name %>">
              <%= job_name %>
            </a>
          </td>
          <td><%= queue_name %></td>
          <td class="text-center">
            <%= stats_label('E', 'info') %>
          </td>
          <td class="<%= percentage_label(tep_percentage) %> text-center">
            <b><small><%= tep_percentage %>%</small></b>
          </td>
          <td class="text-center">
            <%= stats_label(zero_to_empty((@state_keys[job_name][queue_name]['enqueue'] rescue 0)), 'warning') %>
          </td>
          <%
            stages.each do |s|
              today_n = today_stats.values[0]['enqueue'][s].to_i
              total_n = total_stats.values[0]['enqueue'][s].to_i
          %>
            <td class="<%= progress_label(s, today_n) %> text-center" title="<%= nice_number(today_n) %>"><small><%= short_number(today_n) %></small></td>
            <td class="text-center text-<%= progress_label(s) %>" title="<%= nice_number(total_n) %>"><b><small><%= short_number(total_n) %></small></b></td>
          <% end %>
        </tr>
        <tr>
          <td>
            <% if @job_log_keys[job_name] && @job_log_keys[job_name][queue_name] %>
              <a class="no-decoration nowrap" href="<%= root_path %>job_stats/logs/<%= job_name %>/<%= queue_name %>">
                view logs
              </a>
            <% end %>
          </td>
          <td class="text-center">
            <%= stats_label('P', 'primary') %>
          </td>
          <td class="<%= percentage_label(tpp_percentage) %> text-center">
            <b><small><%= tpp_percentage %>%</small></b>
          </td>
          <td class="text-center">
            <%= stats_label(zero_to_empty((@state_keys[job_name][queue_name]['perform'].to_i rescue 0)), 'warning') %>
          </td>
          <%
            stages.each do |s|
              today_n = today_stats.values[0]['perform'][s].to_i
              total_n = total_stats.values[0]['perform'][s].to_i
          %>
            <td class="<%= progress_label(s, today_n) %> text-center" title="<%= nice_number(today_n) %>"><small><%= short_number(today_n) %></small></td>
            <td class="text-center text-<%= progress_label(s) %>" title="<%= nice_number(total_n) %>"><b><small><%= short_number(total_n) %></small></b></td>
          <% end %>
        </tr>
        <% total_stats.keys[1..-1].each do |key|
          te_processed = today_stats[key]['enqueue']['processed'].to_f
          te_attempted = today_stats[key]['enqueue']['attempted'].to_f
          tep_percentage = (te_processed / te_attempted * 100).to_s.to_i

          tp_processed = today_stats[key]['perform']['processed'].to_f
          tp_attempted = today_stats[key]['perform']['attempted'].to_f
          tpp_percentage = (tp_processed / tp_attempted * 100).to_s.to_i
        %>
          <tr>
            <td><%= key %></td>
            <td class="text-center">
              <%= stats_label('E', 'info') %>
            </td>
            <td class="<%= percentage_label(tep_percentage) %> text-center">
              <b><small><%= tep_percentage %>%</small></b>
            </td>
            <td class="text-center">
              <%= stats_label(zero_to_empty((@state_keys[job_name][key]['enqueue'] rescue 0)), 'warning') %>
            </td>
            <% stages.each do |s|
                today_n = today_stats[key]['enqueue'][s].to_i
                total_n = total_stats[key]['enqueue'][s].to_i
            %>
              <td class="<%= progress_label(s, today_n) %> text-center" title="<%= nice_number(today_n) %>"><small><%= short_number(today_n) %></small></td>
              <td class="text-center text-<%= progress_label(s) %>" title="<%= nice_number(total_n) %>"><b><small><%= short_number(total_n) %></small></b></td>
            <% end %>
          </tr>
          <tr>
            <td>
              <% if @job_log_keys[job_name] && @job_log_keys[job_name][queue_name] %>
                <a class="no-decoration nowrap" href="<%= root_path %>job_stats/logs/<%= job_name %>/<%= queue_name %>">
                  view logs
                </a>
              <% end %>
            </td>
            <td class="text-center">
              <%= stats_label('P', 'primary') %>
            </td>
            <td class="<%= percentage_label(tpp_percentage) %> text-center">
              <b><small><%= tpp_percentage %>%</small></b>
            </td>
            <td class="text-center">
              <%= stats_label(zero_to_empty((@state_keys[job_name][key]['perform'] rescue 0)), 'warning') %>
            </td>
            <%
              stages.each do |s|
                today_n = today_stats[key]['perform'][s].to_i
                total_n = total_stats[key]['perform'][s].to_i
            %>
              <td class="<%= progress_label(s, today_n) %> text-center" title="<%= nice_number(today_n) %>"><small><%= short_number(today_n) %></small></td>
              <td class="text-center text-<%= progress_label(s) %>" title="<%= nice_number(total_n) %>"><b><small><%= short_number(total_n) %></small></b></td>
            <% end %>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class='alert alert-success'>No job found in sidekiq</div>
<% end %>
