<style type="text/css">
  a.no-decoration:focus, a.no-decoration:hover {
    text-decoration: none;
  }
  header.row .pagination {
    margin: 25px 0 0 0 !important;
  }
  form .btn {
    margin-right: 0;
  }
  hr {
    margin: 5px 0;
  }
  .nowrap {
    white-space: nowrap;
  }
  .break-all {
    word-break: break-all;
  }
  .label-none {
    background: #eee;
    color: #888;
  }
  .label-light {
    background: #ddd;
    color: #333;
  }
</style>
<%
  def stats_label(value, style)
    if "#{value}" == "0"
      return "<span class='label label-none'>#{value}</span>"
    else
      return "<span class='label label-#{style}'>#{value}</span>"
    end
  end
%>
<header class='row'>
  <div class='col-sm-5 col-xs-12'>
    <h3>Job Stats</h3>
  </div>
  <div class='col-sm-7 col-xs-12'>
    <% if @job_stats.size > 0 && @total_size > @count %>
      <%= erb :_paging, :locals => { :url => "#{root_path}job_stats" } %>
    <% end %>
  </div>
</header>
<% if @job_stats.size > 0 %>
  <table class="table table-hover table-bordered table-striped table-white">
    <thead>
      <th>Job</th>
      <th>Queue</th>
      <th class="text-center">Stage</th>
      <th><%= stats_label('Attempted', 'primary') %></th>
      <th><%= stats_label('Processing', 'info') %></th>
      <th><%= stats_label('Processed', 'success') %></th>
      <th><%= stats_label('Skipped', 'warning') %></th>
      <th><%= stats_label('Failed', 'danger') %></th>
    </thead>
    <tbody>
      <% @job_stats.each do |job_name, stats|
        enqueue_attempted = stats.values[0]['enqueue']['attempted'].to_i
        enqueue_processing = stats.values[0]['enqueue']['processing'].to_i
        enqueue_processed = stats.values[0]['enqueue']['processed'].to_i
        enqueue_skipped = stats.values[0]['enqueue']['skipped'].to_i
        enqueue_failed = stats.values[0]['enqueue']['failed'].to_i

        perform_attempted = stats.values[0]['perform']['attempted'].to_i
        perform_processing = stats.values[0]['perform']['processing'].to_i
        perform_processed = stats.values[0]['perform']['processed'].to_i
        perform_skipped = stats.values[0]['perform']['skipped'].to_i
        perform_failed = stats.values[0]['perform']['failed'].to_i
      %>
        <tr>
          <td rowspan="<%= stats.size * 2 %>"><%= job_name %></td>
          <td rowspan="2"><%= stats.keys[0] %></td>
          <td class="text-center">
            <div>
              <%= stats_label('ENQUEUE', 'primary') %>
            </div>
          </td>
          <td><%= stats_label(enqueue_attempted, 'light') %></td>
          <td><%= stats_label(enqueue_processing, 'light') %></td>
          <td><%= stats_label(enqueue_processed, 'light') %> / <%= stats_label("#{(enqueue_processed.to_f / enqueue_attempted.to_f * 100).to_i}%", 'success') %></td>
          <td><%= stats_label(enqueue_skipped, 'warning') %></td>
          <td><%= stats_label(enqueue_failed, 'danger') %></td>
        </tr>
        <tr>
          <td class="text-center">
            <div>
              <%= stats_label('PERFORM', 'success') %>
            </div>
          </td>
          <td><%= stats_label(perform_attempted, 'light') %></td>
          <td><%= stats_label(perform_processing, 'light') %></td>
          <td><%= stats_label(perform_processed, 'light') %> / <%= stats_label("#{(perform_processed.to_f / perform_attempted.to_f * 100).to_i}%", 'success') %></td>
          <td><%= stats_label(perform_skipped, 'warning') %></td>
          <td><%= stats_label(perform_failed, 'danger') %></td>
        </tr>
        <% stats.keys[1..-1].each do |key|
          enqueue_attempted = stats[key]['enqueue']['attempted'].to_i
          enqueue_processing = stats[key]['enqueue']['processing'].to_i
          enqueue_processed = stats[key]['enqueue']['processed'].to_i
          enqueue_skipped = stats[key]['enqueue']['skipped'].to_i
          enqueue_failed = stats[key]['enqueue']['failed'].to_i

          perform_attempted = stats[key]['perform']['attempted'].to_i
          perform_processing = stats[key]['perform']['processing'].to_i
          perform_processed = stats[key]['perform']['processed'].to_i
          perform_skipped = stats[key]['perform']['skipped'].to_i
          perform_failed = stats[key]['perform']['failed'].to_i
        %>
          <tr>
            <td rowspan="2"><%= key %></td>
            <td class="text-center">
              <div>
                <%= stats_label('ENQUEUE', 'primary') %>
              </div>
            </td>
            <td><%= stats_label(enqueue_attempted, 'light') %></td>
            <td><%= stats_label(enqueue_processing, 'light') %></td>
            <td><%= stats_label(enqueue_processed, 'light') %> / <%= stats_label("#{(enqueue_processed.to_f / enqueue_attempted.to_f * 100).to_i}%", 'success') %></td>
            <td><%= stats_label(enqueue_skipped, 'warning') %></td>
            <td><%= stats_label(enqueue_failed, 'danger') %></td>
          </tr>
          <tr>
            <td class="text-center">
              <div>
                <%= stats_label('PERFORM', 'success') %>
              </div>
            </td>
            <td><%= stats_label(perform_attempted, 'light') %></td>
            <td><%= stats_label(perform_processing, 'light') %></td>
            <td><%= stats_label(perform_processed, 'light') %> / <%= stats_label("#{(perform_processed.to_f / perform_attempted.to_f * 100).to_i}%", 'success') %></td>
            <td><%= stats_label(perform_skipped, 'warning') %></td>
            <td><%= stats_label(perform_failed, 'danger') %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class='alert alert-success'>No job found in sidekiq</div>
<% end %>
