<style type="text/css">
  a.no-decoration:focus, a.no-decoration:hover {
    text-decoration: none;
  }
  header.row .pagination {
    margin: 25px 0 0 0 !important;
  }
  form .btn {
    margin-right: 0;
  }
  hr {
    margin: 5px 0;
  }
  .nowrap {
    white-space: nowrap;
  }
  .break-all {
    word-break: break-all;
  }
</style>
<%
  def stats_label(value, style)
    if "#{value}" == "0"
      return "<span class='label label-none'>#{value}</span>"
    else
      return "<span class='label label-#{style}'>#{value}</span>"
    end
  end
%>
<header class='row'>
  <div class='col-sm-5 col-xs-12'>
    <h3>
      Uniqueness jobs in
      <span class="title"><%= @queue_name %></span>
    </h3>
  </div>
  <div class='col-sm-5 col-xs-8'>
    <% if @job_stats.size > 0 && @total_size > @count %>
      <%= erb :_paging, :locals => { :url => "#{root_path}job_stats/uniqueness/#{@queue_name}" } %>
    <% end %>
  </div>
  <div class='col-sm-2 col-xs-4 text-right'>
    <form method="POST" style="margin-top: 25px;" action="<%= root_path %>uniqueness/<%= @queue_name %>/delete">
      <%= csrf_tag %>
      <input class='btn btn-danger' type="submit" name="delete" value="Delete All" data-confirm="Are you sure you want to delete all uniqueness jobs in: [<%= @queue_name %>]?"/>
    </form>
  </div>
</header>
<% if @job_stats.size > 0 %>
  <table class="table table-hover table-bordered table-striped table-white">
    <thead>
      <th>Uniquenes</th>
      <th>Time</th>
      <th>Job</th>
      <th></th>
    </thead>
    <tbody>
      <% @job_stats.each do |job| %>
        <tr>
          <td>
            <code><%= job[:uniqueness_id] %></code>
            <div class="nowrap">
              <strong>Mode:&nbsp;</strong><%= job[:uniqueness_mode] %>
            </div>
            <div class="nowrap">
              <strong>Progress:&nbsp;</strong><%= job[:progress] %>
            </div>
            <div class="nowrap">
              <%= job[:state] %>
            </div>
          </td>
          <td>
            <div class="nowrap">
              <strong>Timeout:&nbsp;</strong><%= job[:timeout].positive? ? (relative_time(Time.at(job[:timeout]).utc) rescue 'err') : '--' %>
            </div>
            <div class="nowrap">
              <strong>Expires:&nbsp;</strong><%= job[:expires].positive? ? (relative_time(Time.at(job[:expires]).utc) rescue 'err') : '--' %>
            </div>
            <div class="nowrap">
              <strong>Updated At:&nbsp;</strong><%= job[:updated_at].positive? ? (relative_time(Time.at(job[:updated_at]).utc) rescue 'err') : '--' %>
            </div>
          </td>
          <td>
            <code><%= job[:job_id] %></code>
            <div class="nowrap">
              <strong><%= job[:klass] %></strong>
            </div
            <p class="break-all"><%= job[:args] %></p>
            <% if job[:debug].present? %>
              <hr>
              <div class="nowrap">
                <strong>DEBUG:</strong>
              </div
              <%= job[:debug] %>
            <% end %>
          </td>
          <td>
            <form action="<%= root_path %>uniqueness/<%= @queue_name %>/<%= job[:uniqueness_id] %>/delete" method="post">
              <%= csrf_tag if respond_to?(:csrf_tag) %>
              <input class='btn btn-xs btn-danger pull-right' type="submit" name="delete" value="Delete" data-confirm="Are you sure you want to delete the uniqueness job: [<%= job[:uniqueness_id] %>]?"/>
            </form>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class='alert alert-success'>No uniqueness job found</div>
<% end %>
